

<div class="style" id="home">

  <!-- <app-home></app-home> -->
  <ngb-carousel>
    <ng-template ngbSlide>
      <img class="img" src="/assets/images/carosel3.jpg">
      <div class="carousel-caption">
        <div class="animated bounceInLeft delay-2s">
          <h1 fxHide.xs> Professional Website Development</h1>
          <h1 fxSHow.xs fxHide.gt-xs style="font-size:13pt;"> Professional Website Development</h1>
          <button mat-raised-button color="primary" routerLink="/professional">Get In Touch</button>
        </div>

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="img" src="/assets/images/caroselq.png">
      <div class="carousel-caption">
        <div class="animated bounceInLeft delay-2s">
          <h1 fxHide.xs>Mobile App Development</h1>
          <h1 fxSHow.xs fxHide.gt-xs style="font-size:13pt;">Mobile App Development</h1>
          <button mat-raised-button color="primary">Get In Touch</button>
        </div>

      </div>
    </ng-template>

    <ng-template ngbSlide>
      <img class="img" src="/assets/images/carosel6.jpg">
      <div class="carousel-caption">
        <div class="animated bounceInLeft delay-2s">
          <h1 fxHide.xs>Experienced Team Work</h1>
          <h1 fxSHow.xs fxHide.gt-xs style="font-size:13pt;">Experienced Team Work</h1>
          <button mat-raised-button color="primary">Get In Touch</button>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>

  <hr>


</div>
<div class="style" id="services">

  <app-services></app-services>

</div>
<div class="style" id="Projects">

  <app-projects></app-projects>

</div>
<div class="style" id="team">

  <app-team></app-team>

</div>
<div class="style">

  <!--  <app-news></app-news> -->

</div>
<div class="style" id="Contacts">

  <app-contact></app-contact>

</div>
<!-- <router-outlet></router-outlet> -->