<div align="center" style="padding-top:20px;" fxHide.xs fxHide.sm="true"> 
  

  <h1 class="heading" fxHide.xs>NEWS</h1>
  <h1 class="heading" fxShow.xs fxHide.gt-xs style="font-size:13pt;">NEWS</h1>
  <hr>
</div>

<div fxHide.xs fxHide.sm>
    <mat-grid-list  cols="2" rowHeight="2:1.9">
        
          <mat-grid-tile><mat-card>
            <mat-card-title  align="center">  Happy Birthday Joel!</mat-card-title>
            <mat-card-content></mat-card-content>
            <img  mat-card-image [src]="joel" class="imgg">
            <mat-card-actions   align="left">
              
            
            </mat-card-actions>
          </mat-card></mat-grid-tile>
          <mat-grid-tile><mat-card>
            <mat-card-title></mat-card-title>
            <mat-card-content>
            <p style=" font-size: 18pt; font-family: sans-serif; text-align: justify">Birthdays are a new start, a fresh beginning and a time to pursue new
               endeavors with new goals. Move forward with confidence and courage.
                You are a very special person. May today and all of your days be amazing.We the members of Jaynett wishes you a happy birthday</p>
            </mat-card-content>
            <img  mat-card-image >
            <mat-card-actions   align="left">
               
            </mat-card-actions>
          </mat-card></mat-grid-tile>
    </mat-grid-list>
</div>

<div align="center"  fxshow.xs fxHide.gt-sm="true">

    <mat-card>
        <mat-card-title>  Happy Birthday Joel!</mat-card-title>
        <mat-card-content></mat-card-content>
        <img  mat-card-image [src]="joel">
        <mat-card-actions   align="left">
          
        
        </mat-card-actions>
      </mat-card>

      <mat-card>
          <mat-card-title></mat-card-title>
          <mat-card-content>
          <p>Birthdays are a new start, a fresh beginning and a time to pursue new endeavors with new goals. Move forward with confidence and courage. You are a very special person. May today and all of your days be amazing. We the members of Jaynett wishes you a happy birthday.</p>
          </mat-card-content>
          <img  mat-card-image >
          <mat-card-actions   align="left">
             
          </mat-card-actions>
        </mat-card>
</div>