<div align="center" style="padding-top:20px;">

  <h1 class="heading">PROFESSIONAL WEBSITE DEVELOPMENT</h1>
  <!-- <h1 class="heading" fxShow.xs fxHide.gt-xs style="font-size:13pt;">OUR SERVICES</h1> -->
  <hr>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-6">
          <img src="../../../../../assets/newImages/professionalwebsite.jpg" alt="creativity">
      </div>
      <div class="col-md-6">
          <div class="tab-bg">
              <h3>Get More From Life With Creativity.</h3>
             <p>
              Jaynett is a leading professional website design company that has been consistently providing dynamic industry-leading web design solutions to its clients globally.

              We specialize in Website designing that is focused on reflecting the tone and nature of your business. Our creative team of Designers and UI/UX developers work together to enhance the ultimate user experience.
          </p>
          <p> If your website is designed effectively and professionally, it can draw the visitors' attention and give the visitor a sense of what your brand stands for in the first glance itself. Thus, we provide the unique, efficient, innovative and visually appealing Web designs. We specialize in creating high performing sites for mid-market to large enterprizes.</p>
              <div id="services-02-btn-01">
              </div>
          </div>
      </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>RESPONSIVE WEB DESIGN</h3>
              Our designers have the capability of featuring websites on mobiles (smartphone), desktops and tablets with responsive website services that mould their structure to fit the device they are being viewed upon. Our team of designers and developers have consistently delivered a number of responsive sites that fit our client's needs.
      </div>
      <div class="col-md-4">
        <h3>
          CUSTOM WEB DESIGN
        </h3>
        We offer you custom web solutions and involve you in the design process to create a design that you love. Our professionals are able to work on various kinds of technologies to turn your vision into a reality.
      </div>
      <div class="col-md-4">
        <h3>E-COMMERCE SOLUTION</h3>
        We build high performing websites that convert visitors into customers. We build convenient and interactive web designs to make e-commerce websites more engaging. Every e-commerce website we develop is truly unique and completely convenient for users in their buying process
      </div>
    </div>
  </div>
</section>