<div align="center" style="padding-top:20px;" fxHide.xs fxHide.sm="true"> 
  

  <h1 class="heading" fxHide.xs>OUR SERVICES</h1>
  <h1 class="heading" fxShow.xs fxHide.gt-xs style="font-size:13pt;">OUR SERVICES</h1>
  <hr>
</div>

<div class="row" fxHide.xs>
  <div class="col-6 col-md-6 col-sm-12 col-xl-auto col-md">
    <div class="animated bounceInLeft delay-1s">
      <img src="../../../../../assets/images/iphone-2468714.png" height="512"
           width="550"
           class="img-fluid"
      />

    </div>
  </div>
  <div class="col-6 col-sm-12 col-md-6">
    <div class="row">
      <div class="col-6">

        <mat-card class="shadow-sm zoom ">
          <i class="fa fa-address-book fa-3x ml-5 pb-5"></i>
          <div class=" col-sm-12 col-md-12 ">
            <div>Our Offers</div>
            <button class="btn btn-primary">VIEW ALL SERVICES</button>

          </div>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card class="shadow-sm zoom">
          <div class="fa fa-tasks fa-3x ml-5"></div>
         
          <div class=" col-sm-12 col-md-12 " style="padding-top: 13px;">
              <br>
            <div style="font-weight:bold"> APP DEVELOPMENT</div>
            
            <span>We deliver on our promise and provide stunning apps</span>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <mat-card class="shadow-sm mt-3 zoom">
          <i class="fa fa-universal-access fa-3x ml-5 mb-2 pb-5"></i>
          <div class=" col-sm-12 col-md-12 ">
            <div class="pt-1">We are here to help your digitize your business. Are you ready?</div>
          </div>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card class="shadow-sm mt-3  zoom align-content-center" >
          <span class="fa fa-thumbs-up fa-3x ml-5 pb-5  text-center"></span>
          <div class=" col-sm-12 col-md-12">
            <div style="padding-top:8px;">
              <div>You can trust us too. We have a benchmark of satisfied customers</div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="w-100" fxHide.xs="true">
  <div id="img">
    <div style="color: white; font-size: x-large" id="text-over-img">
      <p >Let's Develop Your Next Great App!</p>
      <span>Do you need a specialized software solution for your business? We can             help you!
    </span>
    </div>

    <div class="" id="text-over-im">
      <button class="btn btn-primary mr-3" id="a" routerLink="/contactus">GET IN TOUCH</button>
      <button class="btn btn-outline-light" id="b" href="services">LEARN MORE</button>

    </div>

  </div>

</div>

<div class="column" fxShow.xs fxHide.gt-xs>
  <div class="">
    <div class="animated bounceInLeft delay-1s">
      <img src="../../../../../assets/images/iphone-2468714.png" height="512"
           width="550"
           class="img-fluid"
      />

    </div>
  </div>
  <div class="">
    <div>
      <div align="center">

        <mat-card class="shadow-sm zoom ">
          <i class="fa fa-address-book fa-3x ml-5 pb-5"></i>
          <div class=" col-sm-12 col-md-12 ">
            <div>Our Offers</div>
            <button class="btn btn-primary">VIEW ALL SERVICES</button>

          </div>
        </mat-card>
      </div>
      <div align="center">
        <mat-card class="shadow-sm zoom">
          <span class="fa fa-tasks fa-3x ml-5"></span>
          <div class=" col-sm-12 col-md-12 ">
            <div> APP DEVELOPMENT</div>
            <span>We deliver on our promise and provide stunning apps</span>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div align="center">
        <mat-card class="shadow-sm mt-3 zoom">
          <i class="fa fa-universal-access fa-3x ml-5 mb-2 pb-5"></i>
          <div class=" col-sm-12 col-md-12 ">
            <div class="pt-1">We are here to help your digitize your business. Are you ready?</div>
          </div>
        </mat-card>
      </div>
      <div align="center">
        <mat-card class="shadow-sm mt-3  zoom align-content-center" >
          <span class="fa fa-thumbs-up fa-3x ml-5 pb-5  text-center"></span>
          <div class=" col-sm-12 col-md-12">
            <div>
              <div>You can trust us too. We have a benchmark of satisfied customers</div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>


<style>
  #img {

    background-image: url("../../../../../assets/images/carosel3.jpg");

    background-size: cover;
    background-position: center 0;
    height: 500pt;
    width: 100%;
    object-fit: cover;

  }

  #text-over-img {
    position: relative;
    top: 20%;
    font-size: 1.2em;
    /*margin-top: -100px;*/
    margin-top: 20%;
    margin-left: 70%;
  }
  #text-over-im {
    position: relative;
    top: 10%;
    font-size: 1.2em;
    /*margin-top: -100px;*/
    margin-top: 6%;
    margin-left: 70%;
  }

  .zoom:hover {
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
    background-color: aliceblue;
  }

</style>


<!--<app-next-app></app-next-app>-->

