

<div align="center" style="padding-top:20px;" fxHide.xs fxHide.sm="true"> 
  

  <h1 class="heading" fxHide.xs>MEET THE  TEAM</h1>
  <h1 class="heading" fxShow.xs fxHide.gt-xs style="font-size:13pt;">MEET THE  TEAM</h1>
  <hr>

  <mat-grid-list cols="3" rowHeight="2:1.9">
    <mat-grid-tile><mat-card>
      <mat-card-title>CEO</mat-card-title>
      <mat-card-content></mat-card-content>
      <img  mat-card-image [src]="ceo">
      <mat-card-actions   align="left">
        <label id="lbl1" onmouseover="hide()" onmouseover="show()" onmouseout="initial()">read more</label>
       
      </mat-card-actions>
    </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
      <mat-card-title>Senior Developer</mat-card-title>
      <mat-card-content></mat-card-content>
      <img  mat-card-image [src]="promise">
      <mat-card-actions   align="left">
          <label id="lbl2"  onmouseover="hidepromise()" onmouseover="showpromise()" onmouseout="initialpromise()">read more</label>
      </mat-card-actions>
    </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
      <mat-card-title>Junior Developer</mat-card-title>
      <mat-card-content></mat-card-content>
      <img  mat-card-image [src]="gabby">
      <mat-card-actions   align="left">
          <label id="lbl3"  onmouseover="hidepromise1()" onmouseover="showpromise1()" onmouseout="initialpromise1()">read more</label>
      </mat-card-actions>
    </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
      <mat-card-title>Junior Developer</mat-card-title>
      <mat-card-content></mat-card-content>
      <img  mat-card-image [src]="khan">
      <mat-card-actions   align="left">
          <label id="lbl4"  onmouseover="hidepromise2()" onmouseover="showpromise2()" onmouseout="initialpromise2()">read more</label>
      </mat-card-actions>
    </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
      <mat-card-title>Digital Markrting Expert</mat-card-title>
      <mat-card-content></mat-card-content>
      <img  mat-card-image [src]="dede">
      <mat-card-actions   align="left">
          <label id="lbl5"  onmouseover="hidepromise3()" onmouseover="showpromise3()" onmouseout="initialpromise3()">read more</label>
      </mat-card-actions>
    </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
      <mat-card-title>UI/UX EXPERT</mat-card-title>
      <mat-card-content></mat-card-content>
      <img  mat-card-image [src]="joel">
      <mat-card-actions   align="left">
          <label id="lbl6"  onmouseover="hidepromise4()" onmouseover="showpromise4()" onmouseout="initialpromise4()">read more</label>
      </mat-card-actions>
    </mat-card></mat-grid-tile>
  </mat-grid-list>
  
</div>

<div fxShow.xs fxHide.gt-xs align="center" fxShow.sm="true">
    <mat-card>
        <mat-card-title>CEO</mat-card-title>
        <mat-card-content></mat-card-content>
        <img  mat-card-image [src]="ceo">
        <mat-card-actions>
          <button mat-button  align="left">Bruce Justice Selorm</button>
         
        </mat-card-actions>
      </mat-card>


      <mat-card>
          <mat-card-title>Senior Developer</mat-card-title>
          <mat-card-content></mat-card-content>
          <img  mat-card-image [src]="promise">
          <mat-card-actions>
            <button mat-button>Promise Atokple</button>
          </mat-card-actions>
        </mat-card>

        <mat-card>
            <mat-card-title>Junior Developer</mat-card-title>
            <mat-card-content></mat-card-content>
            <img  mat-card-image [src]="gabby">
            <mat-card-actions>
              <button mat-button>Gabriel Aabiah</button>
            </mat-card-actions>
          </mat-card>

          <mat-card>
              <mat-card-title>Junior Developer</mat-card-title>
              <mat-card-content></mat-card-content>
              <img  mat-card-image [src]="khan">
              <mat-card-actions>
                <button mat-button>Shahir Khan</button>
              </mat-card-actions>
            </mat-card>

            <mat-card>
                <mat-card-title>Digital Markrting Expert</mat-card-title>
                <mat-card-content></mat-card-content>
                <img  mat-card-image [src]="dede">
                <mat-card-actions>
                  <button mat-button>Sherry Dede Teye</button>
                </mat-card-actions>
              </mat-card>

              <mat-card>
                  <mat-card-title>UI/UX EXPERT</mat-card-title>
                  <mat-card-content></mat-card-content>
                  <img  mat-card-image [src]="joel">
                  <mat-card-actions>
                    <button mat-button>Joel Osei Koranteng</button>
                  </mat-card-actions>
                </mat-card>
</div>